 

/* Global */
:root{
    /* Color */
    --color-white:#ffffff;
    --color-light-white:#eeeeee;
    --color-dark-white:#bdbdbd;
    --color-pink:#fe918d;
    --color-dark-pink:#ff6863;
    --color-dark-grey:#4d4d4d;
    --color-grey:#616161;
    --color-light-grey:#7c7979;
    --color-blue:#73aace;
    --color-yellow:#fff7d1;
    --color-orange:#feb546;
    --color-black:#000000;

    /* Font size */
    --font-large:48px;
    --font-medium:28px;
    --font-regular:18px;
    --font-small:16px;
    --font-micro:14px;
    /* Font weight */
    --weight-bold:700;
    --weight-semi-bold:600;
    --weight-regular:400;

    /* Size */
    --size-border-radius:4px;

    /* Animiation */
    --animation-duration:250ms;
}

/* Universal tags */
*{
    box-sizing:border-box;
}
body{
    margin:0;
    /* 개발자모드로 보면 바디에 8픽셀 패딩 들어가있는 것 확인할 수 있다. */
    font-family: 'Noto Sans KR', sans-serif;
    /* 폰트 적용 */
    cursor:default;
    /* 커서가 텍스트 위로 가면 모양이 바뀐다. 기본모양으로 유지 */
} 
a{
    text-decoration:none;
    color:var(--color-white);
    /* a태그 text-decoration 사라짐. 밑줄 사라짐 */
}  
ul{
    padding-left:0;
   
    /* padding-left가 40px나 들어가있는 것을 개발자모드로 확인 가능 */
}
li{
    list-style:none;
     /* li태그 점 사라짐 */
}

button{
    background-color:transparent;
    cursor:pointer;
    border:none;
    outline:none;
}
    /* 버튼태그 초기화 */
    

/* Typography */
h1{
    font-size:var(--font-large);
    font-weight:var(--weight-bold);
    color:var(--color-black);
    margin:16px 0;
}
h2{
    font-size:var(--font-medium);
    font-weight:var(--weight-semi-bold);
    color:var(--color-black);
    margin:8px 0;
}
h3{
    font-size:var(--font-regular);
    font-weight:var(--font-regular);
    color:var(--color-black);
    margin:8px 0;
}
p{
    font-size:var(--font-regular);
    font-weight:var(--font-regular);
    color:var(--color-black);
    margin:4px 0;
}

/* Navbar */
#navbar{
    display:flex;
    justify-content: space-between;
    background-color:var(--color-pink);
    align-items:center;
    /* align-items 속성은 플렉스 박스에서 플렉스 요소의 수직 방향 정렬 방식을 설정한다. */
    color:var(--color-white);
    padding:16px;
}
    /* 네브바 컨텐츠들 일렬로 나열, 꾸미기 */
    
.navbar__menu{
    display:flex;
}
    /* 네브바 메뉴 일렬로*/

.navbar__logo{
    font-size:var(--font-medium);
    font-weight:var(--weight-semi-bold);
}
    /* 네브바 로고 */

.navbar__menu__item{
    padding:8px 12px;
    margin:0 4px;
    cursor:pointer;
    border-radius:var(--size-border-radius);
}
    /* 메뉴바 설정 */

.navbar__menu__item.active {
    border:1px solid var(--color-white);
}
    /* 메뉴바 태두리주기 */
    
.navbar__menu__item:hover{
    background-color:var(--color-dark-pink);
}
    /* 메뉴바 호버효과적용 */

/* Home */
#home{
    background:url("image/homebackground.png") center/cover no-repeat;
    padding:40px;
    text-align:center;
}
    /* 배경 만들기 */

.home__avatar{
    width:250px;
    height:250px;
    border-radius:50%;
    border:2px solid var(--color-light-white);
}
    /* 아바타 동그랗게 만들기 */

.home__title,
.home__description{
    color:var(--color-white);
}

.home__contact{
    color:var(--color-white);
    font-size:var(--font-regular);
    font-weight:var(--weight-regular);
    margin:24px;
    padding:8px 12px;
    border:2px solid white;
    border-radius:var(--size-border-radius);
}



/* Section common */
.section{
    padding:50px;
    text-align:center;
    margin:0 auto;
    /* 여기서 당황. margin:0 auto 줘야하는 이유?*/
    /* 인라인속성은 패딩, 블럭속성은 마진. 얘는 블럭태그에 너비 조절해준 것이므로  */
}
.section__container{
    max-width:1200px;
    margin:auto;
}

.about__majors{
    display:flex;
    justify-content:space-between;
    /* 이런거 보면 반응형으로 만들려면 확실히 flex박스를 이용하나보다. 기존에는 레이아웃박스 직접 만들면서 했을듯. */
    margin:80px 0;
}

.major__icon{
    width:170px;
    height:170px;
    font-size:70px;
    color:var(--color-blue);
    line-height:170px;
    border:1px solid var(--color-blue);
    border-radius:50%;
    margin-bottom:16px;
}
.major__icon i {
    transition:all var(--animation-duration) ease;
}
.major__icon i:hover{
    color:var(--color-pink);
    transform:rotate(-30deg) scale(1.1);
}
    /* major icon의 i태그에 올라갔을 때 hover 작동하도록 */
.major__title, .major__description{
    color:var(--color-dark-grey);
}

.major__description{
    font-size:var(--font-small);
}

.job{
    display:flex;
    align-items:center;
}
    /* job이 블럭태그이니까 그 안에 애들 센터 먹인 것 */

.job__description{
    margin:0 16px;
    text-align:left;
}
/* body마진<section마진<job__description마진<p마진 순서로 마진 우선순위 강해진다. */

.job__name,
.job__period{
    color:var(--color-light-grey);
}
.job__name{
    font-size:var(--font-small);
}
.job__period{
    font-size:var(--font-micro);
}


/* Skill */
#skills{
    background-color:var(--color-yellow);
}

.skillset{
    display:flex;
    background-color:var(--color-light-grey);
    color:var(--color-light-white);
    margin:20px 0;
}

.skillset__title{
    color:var(--color-white);
}

.skillset__left{
    flex-basis:60%;
    background-color:var(--color-dark-grey);
    padding:20px 40px;
}

.skill{
    margin-bottom:32px;
}

.skill__description{
    display:flex;
    justify-content:space-between;
}
    /* 이미 양 옆으로 정렬돼있는데 왜 display:flex를 썼을까? space-between쓰려고인듯? */
.skill__bar{
    width:100%;
    height:3px;
    background-color:var(--color-grey);
}

.skill__value{
    width:100%;
    height:3px;
    background-color:var(--color-orange);
    /* width는 html에서 관리해야한다. css로 하면 전부 다 같은 수치로 나오기 때문에 */
}

.skillset__right{
    flex-basis:40%;
}
    /* 자동적으로 화면에서 사이즈를 차지한다! 굿 */
    /* 안하면 그냥 크기에 맞춰서 나옴. 근데 block인데? 왜 이렇게 나오지? */
    /* display:flex를 주면서 안에 태그들 속성이 block에서 inline-block으로 바뀌기때문 */

.tools{
    background-color:var(--color-grey);
}

.tools,
.etc{
    padding:20px;
}